<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Task Central</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<body>
		<div class="container container-padding">
			<p>
				<a class="btn btn-default btn-primary btn-lg btn-block" href="task1" role="button">
					Task 1<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</p>
			<p>
				<a class="btn btn-default btn-lg btn-block" href="task2" role="button">
					Task 2<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</p>
			<p>
				<a class="btn btn-default btn-lg btn-block" href="task3" role="button">
					Task 3<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</p>
		</div>
	</body>
</html>
